dd_venv
.env
.env.dev
logs_dev
ml_dumps
./ml/data/raw/current/canceled_signals.csv
canceled_signals.csv
./ml/data/raw/current/ml_opened_vs_canceled.parquet
./ml/data/raw/current/ml_opened_only_profitable.parquet
./ml/data/raw/current/canceled_signals.parquet

ml/data/raw/archive
docker/canceled_signals_dump.csv